@inherits BasePage<EmptyViewModel>
@{
    ViewData["Title"] = Localizer["home.title"];
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>@Localizer["home.fake-test-to-delete"]</p>
</div>
