
.card-header.card-header-style{
    background-color: white;
    border: none;
    display: flex;
    justify-content: space-between;
    padding: 0rem;
}

.card-image-overlay {
    display: flex;
    justify-content: space-between;
}

.card-image-overlay-updated-time, .card-image-overlay-availability{
    display: flex;
    justify-content: center;
    width:fit-content;
    background-color: gainsboro;
    padding: 2px;
    border-radius: 7.5px;
    opacity: 0.75;
}

.card-image-overlay-updated-time > span, .card-image-overlay-availability > span {
    font-size: 0.7rem;
    font-weight: bold;
    margin-left: 3px;
    padding-left: 3px;
}

.card-button {
    margin: 0 0.2rem 0 0.2rem;
}

.card-button-container {
    position: absolute;
    right:0;
    bottom:0;
    margin: 0 0.75rem 0.75rem 0;
}

.card.card-item-active {
    width: 18rem ;
    margin: 0 1rem 1rem 0 ;
    padding: 0rem ;
    opacity: 1 ;
}

.card.card-item-archived {
    width: 18rem ;
    margin: 0 1rem 1rem 0 ;
    padding: 0rem ;
    opacity: 0.5 ;
}

.card-img-top.card-img {
    width: 100%;
    height: 13rem;
}

.card-body.card-body-style {
    height: 13rem;
}

.card-title.card-title-style {
    color: #c61717;
    margin: 0;
}

.card-overlay.card-overlay-styl {
    height:fit-content;
}

.card-text-style-title {
  font-weight: 670;
  font-size: large;
}

.card-text-style {
  font-weight:italic;
  
}

.card-header-right-size {
    margin-right: 5px;
}

.card-header-right {
    display:flex;
}